.matrix-mode,
.matrix-mode body{
    background: url(/imagens/matrix.gif);
}
.matrix-mode h1{
    color: #edf2ff;
}
.matrix-mode p.username {
    color: #edf2ff;
} 
.matrix-mode footer {
    color: #edf2ff;
}
.matrix-mode footer a{
    color: #edf2ff;
}
.matrix-mode ul li a:hover{
    background: url(/imagens/matrix.gif);
}






.btn-menu2 {
    padding-left: 20px ;
    padding-top: 10px;
}

.btn-menu2 button {
    font-family: 'Roboto Mono', monospace;
    height: 20px;
    width: 110px;
    /* background-color: #4263eb; */
    background: url(./imagens/matrix.gif);
    border: none;
    border-radius: 6px;
    color: #edf2ff;
    text-transform: uppercase;
    transition: background 400ms;
}




